#images {
  margin-top: 130px;

  p {
    font-size: 30px;
    text-align: center;
    margin: 30px;
  }
  .img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
