#type {
  margin-top: 100px;

  .col-3 {
    position: relative;
  }

  .col-3 div {
    font-size: 2rem;
    color:$white;
    padding: 6px;
    position: absolute;
    top: 20px;
  }

  @media (max-width: 700px) {
    .col-sm-6 {
      width: 50%;
      top: 20px;
    }
  }
}
